# Dependencies
node_modules/

# React Native
.metro-health-check*

# Android
android/.gradle/
android/app/build/
android/build/
android/app/debug.keystore
android/app/release.keystore
*.apk
*.aab

# iOS
ios/Pods/
ios/build/
ios/*.xcworkspace
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
xcuserdata/
*.hmap
*.ipa

# Misc
.DS_Store
*.log
*.tsbuildinfo
